
<div id="front">
  <div class="site-header">

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
          <div id="templatemo_logo">
            <h1><a href="#" >Blog</a></h1>
          </div> <!-- /.logo -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-8 col-sm-6 col-xs-6">
          <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
          <div class="homenav" >
            <ul>
              <li><%= link_to 'HOME', home_home_path, :target => "_blank" %></li>
              <li><%= link_to 'Best Resources',bestresources_path%></li>
              <li><%= link_to 'Job Profiles', jobprofile_path, :target => "_blank" %></li>
              <li><%= link_to 'Job News', jobnews_path %> </li>
              <li><%= link_to 'Download', download_path %></li>
            </ul>
          </div> <!-- /.main-menu -->
        </div> <!-- /.col-md-8 -->
      </div> <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <div class="responsive">
            <div class="main-menu">
              <ul>
                <li><a href="#jobprofiles">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.site-header -->
</div> <!-- /#front -->
<%= render :partial=>"home/slider" %>
<%= render :partial=>"home/jobprofiles"%>
<%= render :partial=>"home/new_products"%>
<%= render :partial=>"home/all_products"%>
<%= render :partial=>"home/contact_us"%>
<%= render :partial=>"home/footer"%>

